name: Waka Readme

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - '.github/workflows/waka-readme.yml'
  workflow_dispatch:
  
jobs:
  update-readme:
    name: Update this repo's README with latest WakaTime data
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          COMMIT_MESSAGE: Update README Using WakaTime Data
          SHOW_TIME: false
          SHOW_TITLE: true
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
